In [23]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import sklearn
import joblib
import io

In [19]:
pip install pyxlsb

SyntaxError: invalid syntax (<ipython-input-19-f0cccef0c590>, line 1)

In [25]:
tqdm.pandas()

Dataset 1

In [26]:
df1 = pd.read_excel('E:/projects/plds_teamc/data/ar-2010-2014-xlsb.xlsb',engine='pyxlsb')

In [27]:
df1.head()

,Patient Age at Treatment,Date patient started trying to become pregnant OR date of last pregnancy,"Total Number of Previous cycles, Both IVF and DI","Total Number of Previous treatments, Both IVF and DI at clinic",Total Number of Previous IVF cycles,Total Number of Previous DI cycles,"Total number of previous pregnancies, Both IVF and DI",Total number of IVF pregnancies,Total number of DI pregnancies,Total number of live births - conceived through IVF or DI,...,Heart Three Birth Weight,Heart Three Sex,Heart Three Delivery Date,Heart Three Birth Congenital Abnormalities,Heart Four Weeks Gestation,Heart Four Birth Outcome,Heart Four Birth Weight,Heart Four Sex,Heart Four Delivery Date,Heart Four Birth Congenital Abnormalities
0,18 - 34,NaN,1,1,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35-37,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18 - 34,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,38-39,NaN,1,1,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35-37,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
buffer = io.StringIO()
df1.info(buf=buffer)
s = buffer.getvalue()
with open("E:/projects/plds_teamc/data/dataset1_info.txt", "w",encoding="utf-8") as f:  # doctest: +SKIP
    f.write(s)

In [29]:
df1.nunique()

Patient Age at Treatment                                                     7
Date patient started trying to become pregnant OR date of last pregnancy    21
Total Number of Previous cycles, Both IVF and DI                             7
Total Number of Previous treatments, Both IVF and DI at clinic               7
Total Number of Previous IVF cycles                                          7
                                                                            ..
Heart Four Birth Outcome                                                     3
Heart Four Birth Weight                                                      1
Heart Four Sex                                                               1
Heart Four Delivery Date                                                     2
Heart Four Birth Congenital Abnormalities                                    0
Length: 95, dtype: int64

Dataset 2

In [30]:
df2 = pd.read_excel('E:/projects/plds_teamc/data/ar-2015-2016-xlsb.xlsb',engine='pyxlsb')

In [31]:
df2.head()

,Patient Age at Treatment,Date patient started trying to become pregnant OR date of last pregnancy,"Total Number of Previous cycles, Both IVF and DI","Total Number of Previous treatments, Both IVF and DI at clinic",Total Number of Previous IVF cycles,Total Number of Previous DI cycles,"Total number of previous pregnancies, Both IVF and DI",Total number of IVF pregnancies,Total number of DI pregnancies,Total number of live births - conceived through IVF or DI,...,Heart Three Birth Weight,Heart Three Sex,Heart Three Delivery Date,Heart Three Birth Congenital Abnormalities,Heart Four Weeks Gestation,Heart Four Birth Outcome,Heart Four Birth Weight,Heart Four Sex,Heart Four Delivery Date,Heart Four Birth Congenital Abnormalities
0,40-42,NaN,2,2,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,45-50,NaN,3,3,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35-37,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18 - 34,NaN,2,2,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18 - 34,NaN,5,5,5,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
buffer = io.StringIO()
df2.info(buf=buffer)
s = buffer.getvalue()
with open("E:/projects/plds_teamc/data/dataset2_info.txt", "w",encoding="utf-8") as f:  # doctest: +SKIP
    f.write(s)

In [33]:
df2.nunique()

Patient Age at Treatment                                                     7
Date patient started trying to become pregnant OR date of last pregnancy    18
Total Number of Previous cycles, Both IVF and DI                             7
Total Number of Previous treatments, Both IVF and DI at clinic               7
Total Number of Previous IVF cycles                                          7
                                                                            ..
Heart Four Birth Outcome                                                     1
Heart Four Birth Weight                                                      1
Heart Four Sex                                                               1
Heart Four Delivery Date                                                     1
Heart Four Birth Congenital Abnormalities                                    0
Length: 95, dtype: int64

Combine the datasets

In [35]:
frames = [df1, df2]
df_combined = pd.concat(frames)

In [36]:
df_combined.nunique()

Patient Age at Treatment                                                     7
Date patient started trying to become pregnant OR date of last pregnancy    21
Total Number of Previous cycles, Both IVF and DI                             7
Total Number of Previous treatments, Both IVF and DI at clinic               7
Total Number of Previous IVF cycles                                          7
                                                                            ..
Heart Four Birth Outcome                                                     3
Heart Four Birth Weight                                                      2
Heart Four Sex                                                               2
Heart Four Delivery Date                                                     3
Heart Four Birth Congenital Abnormalities                                    0
Length: 95, dtype: int64